@import "./mixins";

.container_chat {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  .display-message {
    background-color: #011f4b;
    flex: 80%;
    width: 100%;
    overflow-y: scroll;
    height: 60vh;
  }
  .input-message {
    flex: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    input {
      flex: 80%;
    }
    button {
      flex: 20%;
    }
  }
  .containermessage {
    display: flex;
    cursor: pointer;

    p {
      padding: 20px;
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .para {
      display: flex;
      background-color: #7f7373a2;
      color: #fff;
      border: 2px solid #7f7373a2;
      border-radius: 15px;
      margin: 8px;
      line-break: auto;
    }
    .span-username {
      color: #fff;
      text-transform: uppercase;
      background-color: rgb(243, 10, 10);
      border: 1px solid rgb(243, 10, 10);
      border-radius: 12px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .span-message {
      color: #fff;
      font-size: 22px;
    }
    .small-date {
      small {
        color: #fff;
      }
      // &:hover {
      //   small {
      //     color: #fff;
      //     display: inline-flex;
      //   }
      // }
    }
  }
}

.profil {
  display: flex;
  justify-content: center;

  .card {
    width: 100%;
    background-color: #011f4b;
    color: #fff;
    @include breakpoint(768px) {
      width: 95%;
      margin: 0 2.5%;
    }
  }
}

.containerimages {
  img {
    width: 70px;
    height: 70px;
  }
}
