@import "./mixins";
@import "./chatroom";

.container_onepost {
  @extend .container_chat;
  .display_post_one {
    @extend .display-message;

    .container_image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .messagelist {
      margin: 5%;
    }
  }

  .input-message {
    input {
      width: 13.5rem;
    }
  }
}

.postid {
  .disable-link {
    pointer-events: none;
  }
}
