.listconnections {
  .toast {
    width: 100%;
    background-color: #011f4b;
    color: #fff;
    .toast-header {
      display: flex;
      flex-direction: column;
    }
    .toast-body {
      display: flex;
      justify-content: center;
    }
  }
  .rounded {
    width: 100px;
    height: 100px;
  }
}
